.customers {
  border: 2px solid #363636;
  max-width: 1100px;
  margin: 100px auto;
  border-radius: 8px;
  padding: 25px;

  .box-logo {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    div {
      margin-right: auto;
    }
    i {
      font-size: 36px;
      color: #1e90ff;
    }
    .text-logo {
      .yellow-text {
        color: #ffd700;
      }
      .blue-text {
        color: #1e90ff;
      }
      margin-top: -9px;
    }
  }
  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    color: #9400d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .customers-header {
    border: 2px solid #363636;
    border-radius: 8px;
    padding: 25px;
    margin-top: 20px;

    .personal-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      input {
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: 2px solid #808080;
        background: #fff;
        margin: 5px;
        padding: 0 10px;
        width: 125px;
      }
      label {
        input[type="radio"] {
          width: 15px;
          height: 15px;
        }
      }
    }
    .last-section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .address {
        input {
          height: 30px;
          border-radius: 15px;
          outline: none;
          border: 2px solid #808080;
          background: #fff;
          margin: 10px;
          padding: 0 10px;
          width: 100px;
        }
      }
      .buttons {
        button {
          height: 30px;
          width: 100px;
          margin: 10px;
          font-weight: 600;
          padding: 5px 10px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
        }
        button:nth-child(1) {
          background: #0000ff;
          color: #fff;
        }
        button:nth-child(2) {
          color: #4f4f4f;
        }
        button:hover {
          scale: 0.9;
          opacity: 0.7;
          transition: 1s all ease;
        }
      }
    }
  }
  .content-customer {
    border: 2px solid #363636;
    margin-top: 25px;
    border-radius: 8px;
    padding: 25px;

    .title {
      text-align: start;
      color: #0000ff;

      display: flex;
      justify-content: space-between;
    }
    .feed-content {
      font-size: 23px;
      font-weight: 600;
      color: #363636;
      border: 2px solid #363636;
      padding: 15px;
    }
    .loading {
      font-size: 23px;
      font-weight: 600;
      color: #363636;
    }
    table {
      width: 100%;
      background: #363636;

      thead {
        background: #c0c0c0;

        th {
          padding: 10px 15px;
          color: #363636;
          text-transform: uppercase;
        }
      }

      tbody {
        background: #fff;
        td {
          padding: 10px 15px;

          button {
            padding: 10px 15px;
            color: #fff;
            font-weight: 600;
            border: none;
            border-radius: 8px;
            cursor: pointer;
          }
          .btn-edit {
            background: #008000;
          }
          .btn-delete {
            background: red;
          }
          button:hover {
            scale: 0.9;
            opacity: 0.7;
            transition: 1s all ease;
          }
        }
      }
    }
  }
}
.edit-customer {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 8px;
  padding: 0 15px 30px 15px;
  max-height: 550px;
  overflow-y: auto;

  .close-title {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 18px;
      font-weight: 600;
      color: #363636;
      i {
        font-size: 24px;
        cursor: pointer;
      }
      i:hover {
        scale: 0.9;
        opacity: 0.7;
      }
    }
    border-bottom: 2px solid #f2f2f2;
  }
  .edit-content {
    margin-top: 10px;
    padding: 10px;
  }

  input {
    width: 90%;
    height: 30px;
    border: 2px solid #4f4f4f;
    border-radius: 8px;
    padding: 0 10px;
    margin: 10px 0;
    outline: none;
  }
  input[type="radio"] {
    width: 15px;
  }
  .label-gender {
    display: flex;
    align-items: center;
    input {
      margin: 5px;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 10px;
    button {
      height: 35px;
      width: 100%;
      border: none;
      background: #363636;
      color: #fff;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
    }
    button:hover {
      background: #fff;
      border: 2px solid #363636;
      color: #363636;
      transition: 0.5 all ease;
    }
  }
}
.create-customer-btn {
  height: 35px;
  border: none;
  background: #363636;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.create-customer-btn:hover {
  scale: 0.9;
  opacity: 0.7;
}
.confirm-modal {
  background: #fff;
  max-width: 400px;
  margin: 200px auto;
  padding: 25px;
  border-radius: 8px;

  .feed-delete {
    font-size: 18px;
    font-weight: 500;
    color: red;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
  }
  button {
    width: 45%;
    margin: 5px 10px;
    padding: 5px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    height: 35px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    scale: 0.9;
    opacity: 0.7;
  }
  .back {
    background: #363636;
  }
  .delete {
    background: red;
  }
}
